<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Space</title>
</head>
<body>

  <h1>Book a space</h1>
  <h3>Message</h3>

  <form action='/register' method='get'>
    <input type='submit' value='List a space'>
  </form>

  <div>
    <h3>Beach Villa</h3>
    <h4>A beautiful private villa near the beach.</h4>
    <form action='/beach-villa' method='get'>
      <input type='submit' name="beach_villa" value='Click here'>
    </form>
  </div>

  <div>
    <h3>City Apartment</h3>
    <h4>A modern studio in the heart of the city.</h4>
    <form action='/city-apartment' method='get'>
      <input type='submit' name="city_apartment" value='Click here'>
    </form>
  </div>

  <% for property in @properties %>
  <div>
    <h3><%= property[:property_name] %></h3>
    <h4><%= property[:description] %></h4>
    <p><%= property[:price] %></p>
    <p><%= property[:available_from] %></p>
    <p><%= property[:available_to] %></p>
    <form action='/my_space' method='get'>
      <input type='submit' name="my_space" value='Click here'>
    </form>
  </div>
  <% end %>

</body>
</html>
